.header{
    height:64px; 
    background:white; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    padding:0 16px; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.04)
}
.search input{
    padding:8px;
    border-radius:6px;
    border:1px solid #e6eaf0
}
