.recent {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .04)
}

.item {
    padding: 8px 0;
    border-bottom: 1px dashed #eee
}

.link {
    margin-right: 8px;
    color: #004aad
}