.table-card {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .04)
}

table {
    width: 100%
}

td {
    padding: 6px;
    border-bottom: 1px solid #f0f0f0
}