.chart-card {
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .04)
}

.two-charts {
    display: flex;
    gap: 10px
}

canvas {
    flex: 1;
    max-width: 100%
}