/* 
.login-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f7fb;
}


.card {
    width: 360px;
    padding: 28px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}


.card h2 {
    margin-bottom: 18px;
    font-weight: 600;
    text-align: center;
}


label {
    display: block;
    margin-top: 12px;
    color: #444;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #dfe3ea;
    font-size: 14px;
    transition: border-color 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #004aad;
}


.login-btn {
    margin-top: 18px;
    width: 100%;
    padding: 10px;
    background: #22b8a6;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    transition: opacity .2s ease;
}

.login-btn:hover {
    opacity: 0.9;
}


.forgot {
  margin-top: 12px;
  text-align: right;
}

.forgot-link {
  color: #004aad;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  pointer-events: auto; 
}

.forgot-link:hover {
  text-decoration: underline;
}


.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
} */




.login-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f7fb;
}

.card {
    width: 360px;
    padding: 28px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.card h2 {
    margin-bottom: 18px;
    font-weight: 600;
    text-align: center;
    color: #009B8C; 
}

label {
    display: block;
    margin-top: 12px;
    color: #444;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #dfe3ea;
    font-size: 14px;
    transition: border-color 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #009B8C; 
}

.login-btn {
    margin-top: 18px;
    width: 100%;
    padding: 10px;
    background: #009B8C; 
    border: none;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    transition: opacity .2s ease;
}

.login-btn:hover {
    opacity: 0.9;
}

.forgot {
  margin-top: 12px;
  text-align: right;
}

.forgot-link {
  color: #009B8C;  
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  pointer-events: auto; 
}

.forgot-link:hover {
  text-decoration: underline;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.bg-gradient-primary {
    background: linear-gradient(135deg, #009B8C, #00A693); 
}


.btn-teal {
    background-color: #009B8C;
    border-color: #009B8C;
    color: #fff;
}

.btn-teal:hover {
    background-color: #007f74;
    border-color: #007f74;
}
