<!-- <div class="filters">
  <select [(ngModel)]="selectedSurveyId" (ngModelChange)="surveyChanged($event)">
    <option [ngValue]="undefined">All Surveys</option>
    <option *ngFor="let s of surveys" [ngValue]="s.id">{{ s.title }}</option>
  </select>

  <select [(ngModel)]="selectedDepartmentId" (ngModelChange)="deptChanged($event)">
    <option [ngValue]="undefined">All Departments</option>
    <option *ngFor="let d of departments" [ngValue]="d.id">{{ d.name }}</option>
  </select>

  <button (click)="apply()">Apply</button>
</div> -->


<div class="filters-card card p-3 mb-3">
  <div class="row g-2">
    <div class="col-md-6">
      <label class="form-label small">Survey</label>
      <select class="form-select" [(ngModel)]="selectedSurveyId" (change)="surveyChanged(selectedSurveyId)">
        <option [ngValue]="undefined">All Surveys</option>
        <option *ngFor="let s of surveys" [ngValue]="s.id ?? s.surveyId">
          {{ s.title ?? s.name ?? s.title }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <label class="form-label small">Department</label>
      <select class="form-select" [(ngModel)]="selectedDepartmentId" (change)="deptChanged(selectedDepartmentId)">
        <option [ngValue]="undefined">All Departments</option>
        <option *ngFor="let d of departments" [ngValue]="d.id ?? d.departmentId">
          {{ d.name ?? d.departmentName }}
        </option>
      </select>
    </div>

    <div class="col-md-2 d-flex align-items-end">
      <button class="btn btn-success w-100" (click)="apply()">Apply Filters</button>
    </div>
  </div>
</div>
