<!-- <nav class="sidebar">
  <div class="brand">Survey Admin</div>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <a routerLink="/app/surveys/create" routerLinkActive="active">Create Surveys</a>
    <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
    <li><a routerLink="/reminders" routerLinkActive="active">Reminders</a></li>
  </ul>
</nav> -->
<nav class="sidebar">
  <div class="brand">Survey Admin</div>
  <ul>
    <li><a routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/app/surveys/create" routerLinkActive="active">Create Surveys</a></li>
    <li><a routerLink="/app/employees" routerLinkActive="active">Employees</a></li>
    <li><a routerLink="/app/reminders" routerLinkActive="active">Reminders</a></li>
  </ul>
</nav>
