<div class="profile-container">

  <div class="image-section">
    <img [src]="getPhotoUrl()" class="profile-pic" />

    <input type="file" (change)="uploadPhoto($event)" />
  </div>

  <div class="info-section">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" />

    <label>Email</label>
    <input type="email" [(ngModel)]="email" />

    <label>Department</label>
    <input type="text" [(ngModel)]="department" disabled />

    <label>Role</label>
    <input type="text" [(ngModel)]="role" disabled />

    <button (click)="saveProfile()">Update Profile</button>
  </div>

  <!-- <div class="password-section">
    <h3>Change Password</h3>

    <label>Old Password</label>
    <input type="password" [(ngModel)]="oldPassword" />

    <label>New Password</label>
    <input type="password" [(ngModel)]="newPassword" />

    <button (click)="changePass()">Change Password</button>
  </div> -->

  <div class="password-section">
  <h3>Change Password</h3>

  <label>Old Password</label>
  <input type="password" [(ngModel)]="oldPassword" />

  <label>New Password</label>
  <input type="password" [(ngModel)]="newPassword" />

  <label>Confirm Password</label>
  <input type="password" [(ngModel)]="confirmPassword" />

  <button (click)="changePass()">Change Password</button>

  <button class="forgot-link" (click)="goToForgot()">Forgot Password</button>
</div>

</div>
