.cards {
    display: flex;
    gap: 12px;
    margin-top: 12px
}

.card {
    flex: 1;
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .04)
}

.label {
    color: #666;
    font-size: 13px
}

.value {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px
}